# Environment files
.env
.env.local
.env.development
.env.production
.env.staging

server/.env
server/.env.local
server/.env.development
server/.env.production
server/.env.staging

client/.env
client/.env.local
client/.env.development
client/.env.production
client/.env.staging


.softaims
.vscode/*
!.vscode/extensions.json

node_modules
