@import "tailwindcss";

@font-face {
  font-family: 'Funnel Display';
  src: url('/src/assets/fonts/FunnelDisplay/FunnelDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('/src/assets/fonts/FunnelDisplay/FunnelDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('/src/assets/fonts/FunnelDisplay/FunnelDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('/src/assets/fonts/FunnelDisplay/FunnelDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('/src/assets/fonts/FunnelDisplay/FunnelDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-sans: "Funnel Display", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --color-lightgray: #f7f7f7;
  --color-muted-foreground: #1B1B1B4A;
  --color-darkgray: #F0EFEF;
  --color-primary: #307BF7;
  --background-image-gradient: linear-gradient(90deg, #307BF7 0%, #3A66AF 100%);
}
